.footer__base {
  background: var(--background-color);
  color: var(--text-color);
}

.footer__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
  max-width: 1200px;
}

.footer__sponsor,
.footer__sponsor a,
.footer__link {
  margin-right: 20px;
  color: var(--text-color); 
  display: inline-block;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.footer__link:hover,
.footer__sponsor a:hover {
  text-decoration: underline;
  opacity: 0.8;
  transform: translateY(-2px);
}
